.sign-up-main-container {
  background-color: rgb(142, 142, 142);
  flex: 2;
  position: relative;
}
.sign-up-card {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateX(100%);
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.sign-up-card.page-1 {
  transform: translate(0);
  background-color: #333333;
}

.sign-up-card.page-2 {
  background-color: #333333;
}
.sign-up-card.page-3 {
  background-color: #333333;
}
.sign-up-card.page-2.active {
  transform: translate(0);
}
.sign-up-card.page-3.active {
  transform: translate(0);
}

#credentials-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#credentials-form input{
  width: 40em;
  height: 5em;
  padding-left: 2em;
  border: none;
  border-radius: 5px;
}
#credentials-form input:focus{
  outline: none;
}