<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Library</title>
    <link rel="stylesheet" href="/assets/css/dashboard/dashboard.css" />
    <link rel="stylesheet" href="/assets/css/dashboard/dashboard-main-content.css" />
    <link rel="stylesheet" href="/assets/css/dashboard/dashboard-sidebar.css" />
    <link rel="stylesheet" href="/assets/css/dashboard/dashboard-highlights.css" />
    <script type="module" src="firebase/check_auth.js"></script>
    <script type="module" src="firebase/logout.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <!-- SIDEBAR -->
      <aside class="sidebar collapse">
        <img id="menu_btn" />
        <div class="sidebar-content">
          <div class="sidebar-content-collapse show">
            <a href="/account" class="control-icon account" id="account-btn"><img src="images/dashboard-images/account.svg" alt="" /></a>
            <a href="/reports" class="control-icon reports" id="reports-btn"><img src="images/dashboard-images/reports.svg" alt="" /></a>
            <a href="/book-requests" class="control-icon requests" id="requests-btn"><img src="images/dashboard-images/book.svg" alt="" /></a>
            <a href="/settings" class="control-icon settings" id="settings-btn"><img src="images/dashboard-images/settings.svg" alt="" /></a>
            <div class="control-icon logout" id="logout-btn"><img src="images/dashboard-images/logout.svg" alt="" /></div>
          </div>
          <div class="sidebar-content-extend hide">
            <a href="/account" class="control-icon account" id="account-btn">
              <img src="images/dashboard-images/account.svg" alt="" />
              <p>Account</p>
            </a>
            <a href="/reports" class="control-icon reports" id="reports-btn">
              <img src="images/dashboard-images/reports.svg" alt="" />
              <p>Reports</p>
            </a>
            <a href="/book-requests" class="control-icon requests" id="requests-btn">
              <img src="images/dashboard-images/book.svg" alt="" />
              <p>Requests</p>
            </a>
            <a href="/settings" class="control-icon settings" id="settings-btn">
              <img src="images/dashboard-images/settings.svg" alt="" />
              <p>Settings</p>
            </a>
            <div class="control-icon logout" id="logout-btn">
              <img src="images/dashboard-images/logout.svg" alt="" />
              <p>Log-out</p>
            </div>
          </div>
        </div>
      </aside>
      <!-- /SIDEBAR -->
      <!-- MAIN-CONTENT -->
      <div class="main-content">
        <header>
          <h1>The Library</h1>
          <div class="profile-picture-container"></div>
        </header>
        <main>
          <section class="upper-part">
            <section class="monitor-preview-container">
              <a href="/issued-books" class="preview-buttons"></a>
              <a href="/overdue-books" class="preview-buttons"></a>
              <a href="/borrowers" class="preview-buttons"></a>
              <a href="/todays-visitors" class="preview-buttons"></a>
            </section>
            <section class="report-preview-container"></section>
          </section>
        </main>
      </div>
      <!-- /MAIN-CONTENT -->
      <aside class="highlights collapse">
        <div id="highlights_trigger"></div>
        <div class="highlights-content">
          <!-- TODO: Highlights Content here -->
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam officiis inventore natus error laboriosam magnam vel, totam non labore veritatis facere ducimus tempora sunt incidunt consectetur nemo dignissimos corporis id?
        </div>
      </aside>
    </div>
  </body>
  <script src="assets/js/dashboard_anim.js"></script>
</html>
