<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Library - Login</title>
    <link rel="stylesheet" href="assets/css/login_page.css" />
    <script type="module">
      import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.2.0/firebase-app.js';
      import { getAuth, onAuthStateChanged } from 'https://www.gstatic.com/firebasejs/10.2.0/firebase-auth.js';
      import firebaseConfig from '/firebase/firebaseConfig.js';
      const app = initializeApp(firebaseConfig);
      onAuthStateChanged(getAuth(), (user) => {
        if (user) {
          location.href = '/dashboard';
        }
      });
    </script>
  </head>
  <body>
    <div class="login-box">
      <div class="design-panel">
        <p id="description">Ready<br />to explore the <br />world of <br />knowledge?</p>
        <img id="upang-logo" src="images/upang_logo_only.svg" alt="" />
      </div>
      <div class="login-form-container">
        <img src="images/upang_logo.png" alt="" />
        <h2>Library Management System</h2>
        <form id="login-form" action="">
          <div class="email-container">
            <input type="text" name="email" id="email" required />
            <label for="email">Email Address</label>
          </div>
          <div class="password-container">
            <input type="password" name="password" id="password" required />
            <label for="password">Password</label>
          </div>
          <input type="submit" value="Login" id="login_btn">
        </form>
        <div class="filler"></div>
        <p id="sign-up">New user? <span><a href="/sign-up">Sign Up</a></span></p>
      </div>
    </div>
  </body>
  <script type="module" src="firebase/sign_in.js"></script>
</html>
