<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-Up</title>
    <link rel="stylesheet" href="assets/css/sign-up/sign-up.css" />
    <link rel="stylesheet" href="assets/css/sign-up/sign-up_1.css" />
    <script type="module" src="firebase/sign-up.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <aside class="side-design">
        <div class="title-sec">
          <h1>The Library</h1>
          <h4>Sign-Up</h4>
        </div>
      </aside>
      <div class="sign-up-main-container">
        <div class="sign-up-card page-1"><button class="nav-btn" id="nav-page-2">Next</button></div>
        <div class="sign-up-card page-2"><button class="nav-btn" id="nav-page-3">Next</button></div>
        <div class="sign-up-card page-3"><button class="nav-btn" id="nav-page-4">Next</button></div>
      </div>
    </div>
  </body>
</html>
