@font-face {
  font-family: 'Product Sans Thin';
  src: url('./Product\ Sans\ Thin.ttf');
}
@font-face {
  font-family: 'Product Sans Light';
  src: url('./Product Sans Light.ttf');
}
@font-face {
  font-family: 'Product Sans Regular';
  src: url('./Product Sans Regular.ttf');
}
@font-face {
  font-family: 'Product Sans Bold';
  src: url('./Product Sans Bold.ttf');
}
@font-face {
  font-family: 'Product Sans Italic';
  src: url('./Product Sans Italic.ttf');
}
@font-face {
  font-family: 'Product Sans Bold Italic';
  src: url('./Product Sans Bold Italic.ttf');
}
