.main-content main {
  height: 100em;
}
.upper-part{
  display: flex;
}
.monitor-preview-container{
  height: 30em;
  width: 15em;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  margin: 1em;
}
.preview-buttons{
  flex: 1;
  background-color: #ddd;
  border-radius: 5px;
  transition: .25s ease;
  position: relative;
  overflow: hidden;
}
.preview-buttons:hover{
  transform: translate(-2px, -2px);
  box-shadow: 2px 2px 5px grey;
}
.report-preview-container{
  flex: 1;
  margin: 1em 1em 1em 0;
  background-color: grey;
  border-radius: 5px;
}
